/*общее меню для шапки*/
/*линия*/
.line {
    height: 1px;
    background: #bd1313;
    margin: 0;
}



/*заголовок*/
.header {
    flex: 1;
    text-align: left;
    margin-left: 10px;
}



/*меню*/
#menu {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}

#menu li a {
    text-decoration: none;
    color: #bd1313;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: 0;
    font-size: 18px;
}

#menu li a:hover {
    border-bottom: 2px solid rgb(91, 15, 15);
    color: rgb(91, 15, 15);
}

.nav-active {
    border-bottom: 2px solid #bd1313;
}




/*ссылка на заголовок страницы и телефон*/
.up a,
.block a,
.comments a,
.hi a {
    text-decoration: none;
    color: #bd1313;
    padding: 0;
}

.up a:hover,
.block a:hover,
.comments a:hover,
.hi a:hover {
    color: rgb(91, 15, 15);
}



/*страница товаров (каталог)*/
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer
}

.products a {
    text-decoration: none;
    color: inherit;
}

.products img {
    width: 300px;
    cursor: pointer;
}

.pila {
    display: block;
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
}



/*страница контакты*/
form {
    background: #fff;
    border-radius: 12px;
    padding: 0px 70px;
}

button {
    padding: 10px 10px 10px 10px;
    background: #bd1313;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

legend {
    color: #bd1313;
    font-size: 20px;
    font-weight: bold;
}

fieldset {
    background-color: #bd13133b;
    border-radius: 8px;
    border-color: #bd1313;
    border: none;
}

textarea {
    border-radius: 6px;
}

input,
select,
textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}



/*для страницы о нас*/
.about-us {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    margin: 0;
}

.other {
    display: flex;
    flex-direction: row-reverse;
}

.all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.all-text {
    flex: 1;
    margin-right: 20px;
    margin-left: 15px;
}

.other-text {
    flex: 1;
    margin-left: 20px;
    margin-right: 15px;
}



/*доставка*/
.delivery {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 30px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.note {
    background-color: #f5dcdc;
    border-left: 8px solid #a84b4b;
    border-radius: 8px;
    padding: 1px 10px 1px 15px;
}



/*для главной*/
.hi {
    text-align: center;
    padding: 15px 20px 10px 20px;
    font-size: 20px;
}

.feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.feature {
    background-color: #f5dcdc;
    border-radius: 12px;
    width: 260px;
    padding: 20px;
}

.feature h3,
.feature p {
    text-align: center;
}

.feature img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.comments {
    text-align: center;
    padding: 60px 20px;
}
