.line {
    height: 1px;
    background: #bd1313;
    margin: 0;
}





.header-buttons {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.header {
    flex: 1;
    text-align: left;
    min-width: 300px;
}

.buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}





.menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #bd1313;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: 0;
}

.menu ul li a:hover {
    color: rgb(91, 15, 15);
}




.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
