/*общее меню для шапки*/
/*линия*/
.line {
    height: 1px;
    background: #bd1313;
    margin: 0;
}


/*заголовок и кнопки*/
.header-buttons {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.header {
    flex: 1;
    text-align: left;
    min-width: 300px;
}

.buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}


/*меню*/
.menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #bd1313;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: 0;
}

.menu ul li a:hover {
    color: rgb(91, 15, 15);
}



/* страница  каталог*/
.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}




/* страница контакты*/
textarea {
    border-radius: 6px;
}

button {
    padding: 10px 10px 10px 10px;
    background: #bd1313;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed #333;
    display: none;
}

legend {
    color: #bd1313;
    font-size: 20px;
}

fieldset {
    background-color: #bd13133b;
    border-radius: 6px;
    border-color: #bd1313;
}
